# 데이터 과학 : 실습 (1)

변수이름은 반드시 영문자나 언더바( _ )로 시작해야 하고, 숫자나 특수문자로 시작하면 안됩니다.

단, 숫자나 특수문자를 변수이름으로 사용하는 것은 가능해요.

대문자와 소문자는 다른 글자로 생각합니다.

파이썬에서 이미 사용되고 있는 단어들(reserved words, 예약어라고 합니다)은 변수 이름으로 사용할 수 없습니다.

● 변수 사용법과 입출력 배우기

1) var1 이름의 변수를 만들고 10의 값을 할당하기

In [1]:
var1 = 10
print(var1)

10

2)  var2 이름의 변수를 만들고 20의 값을 할당하기

In [4]:
# 변수 이해하기 

var2 = 25
print(var2)

25

3) 다양한 연산자 사용하기

In [3]:
print(var1 + var2)
print(var1 * var2)
print(var2 / var1)
print(var2 // var1)
print(var2 % var1)

35
250
2.5
2
5

4)  % 연산자 활용하기

In [4]:
var5 = 3
var6 = 14
print(var6 % var5)

2

5) print( ) 함수 사용하기

In [5]:
# 출력할 문장을 직접 쓰기
print('오늘도 굿모닝이지 말입니다!')

# 출력할 문장을 변수에 넣고 변수값 출력하기
str = "내일도 굿모닝이지 말입니다!"
print(str)

오늘도 굿모닝이지 말입니다!
내일도 굿모닝이지 말입니다!

6) 리터럴 문자와 함께 사용하기

In [6]:
hungry = 5
print(' 배가 무지 고파서 밥을 %s 그릇도 먹겠네!' %hungry)

 배가 무지 고파서 밥을 5 그릇도 먹겠네!

7) 특수문자와 함께 사용해야 할 경우

In [7]:
up = 20
print(' 뉴스에서 물가가 %s% 까지 오른다는데....'  %up)

TypeError: not enough arguments for format string

In [8]:
up = 20
print(' 뉴스에서 물가가 %s%% 까지 오른다는데....'  %up)

 뉴스에서 물가가 20% 까지 오른다는데....

8) 여러개의 변수를 한꺼번에 사용할 경우

In [9]:
up = 20
sal = 10

print('뉴스에서 물가는 %s%% 오른다는데 내 월급도 %s%%라도..'  %(up , sal))

뉴스에서 물가는 20% 오른다는데 내 월급도 10%라도..

9) input( ) 함수로 정보 입력받기

In [10]:
txt1 = input()

print("txt1 값을 출력하면 : ", txt1)

짬뽕
txt1 값을 출력하면 :  짬뽕

In [11]:
txt1

'짬뽕'

10) input() 함수에서 안내 멘트 보이기

In [12]:
txt2 = input('점심 뭐 드셨어용? ')

점심 뭐 드셨어용? 짜장면

In [13]:
txt2

'짜장면'

11) 입력 데이터 형식 변환하기

In [14]:
area_no = input('''
1. 서울         2.대전           3.광주           4.부산
5. 경남         6.경북           7.충청           8.제주

위 지역중 정보를 조회할 지역의 번호를 입력하세요: ''')

1. 서울         2.대전           3.광주           4.부산
5. 경남         6.경북           7.충청           8.제주

위 지역중 정보를 조회할 지역의 번호를 입력하세요: 3

In [15]:
area_no

'3'

In [16]:
type(area_no)

str

In [17]:
area_no = input('''
1. 서울         2.대전           3.광주           4.부산
5. 경남         6.경북           7.충청           8.제주

위 지역중 정보를 조회할 지역의 번호를 입력하세요: ''')
print(area_no)
print(type(area_no))

1. 서울         2.대전           3.광주           4.부산
5. 경남         6.경북           7.충청           8.제주

위 지역중 정보를 조회할 지역의 번호를 입력하세요: 3
3
<class 'str'>

In [18]:
 
# input으로 입력한 값은 str 형의 데이터     
print(type(area_no))

# input으로 입력한 값을 숫자형으로 사용하려면 형식을 변환 해야함

print(type(int(area_no)))

<class 'str'>
<class 'int'>

Quiz 1

In [19]:
menu_1 = input('첫번째 주문하실 음식은 무엇인가요?: ')
menu_2= input('두번째 주문하실 음식은 무엇인가요?: ')

print('첫번째 주문하신 음식은 %s이고 두번째 주문하신 음식은 %s입니다' %(menu_1,menu_2))

첫번째 주문하실 음식은 무엇인가요?: 짜장면
두번째 주문하실 음식은 무엇인가요?: 짬뽕
첫번째 주문하신 음식은 짜장면이고 두번째 주문하신 음식은 짬뽕입니다